{
  "env": {
    "build": {
      "optional": ["optimisation", "minification"]
    },
    "presets": [
      "react",
      "es2015",
      "survivejs-kanban"
    ],
    "plugins": [
      "transform-runtime",
      "transform-object-rest-spread",
      "transform-class-properties",
      "lodash",
      "espower"
    ]
  },
  "presets": [
    "react",
    "es2015",
    "survivejs-kanban"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties",
    "lodash",
    "espower"
  ]
}
